<div class="inicioDiv">

    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active ch" aria-current="page" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ch" href="#productos">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ch" href="#trabajo">Nuestro trabajo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ch" href="#contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ch" href="/privacidad">Política de privacidad</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="franja">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">

                    <h5 class="text-center text-white"><i class="fa-solid fa-boxes-packing"></i> Productos de calidad
                    </h5>
                </div>
                <div class="col-md-4 col-sm-4 elementExtra">
                    <h5 class="text-center text-white"><i class="fa-solid fa-handshake"></i> Versatilidad</h5>
                </div>
                <div class="col-md-4 col-sm-4 elementExtra">

                    <h5 class="text-center text-white"><i class="fa-sharp fa-solid fa-money-bill"></i> Precio justo</h5>
                </div>
            </div>
        </div>
    </div>
    <div data-draggable="true" style="position: relative;" >
        <!---->
        <!---->
        <section draggable="false" class="container pt-5 valueProposition" data-v-271253ee="">
            <section class="mb-10 text-center">
                <div class="container">
                    <h3 class="fw-bold mb-5 text-center text-black "> <span class="me-1">Suministro de productos
                            diversos para el sector
                            industrial. Trabajamos con fabricantes nacionales para entregar el
                            mejor
                            producto al mejor precio. </h3>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-center">
                            <hr>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div><br>
                <div class="row gx-lg-5">
                    <div class="col-md-4 mb-5 mb-md-0">
                        <div class="p-3 colorNaranja rounded-4 shadow-2-strong d-inline-block mb-4 ch-bg pointer"
                            onclick="location.href='#contacto';"> <i class="fa-solid fa-boxes-stacked fa-lg"
                                style="color: white;"></i> </div>
                        <h5 class="fw-bold mb-3">Cartón especializado en cajas fabricadas a la medida</h5>

                    </div>
                    <div class="col-md-4 mb-5 mb-md-0">
                        <div class="p-3 colorNaranja rounded-4 shadow-2-strong d-inline-block mb-4 ch-bg pointer"
                            onclick="location.href='#contacto';"> <i class="fa-solid fa-user-tie fa-lg text-white"></i>
                        </div>
                        <h5 class="fw-bold mb-3">Soluciones a mayoreo para
                            pequeñas y medianas industrias,</h5>
                    </div>
                    <div class="col-md-4 mb-5 mb-md-0">
                        <div class="p-3 colorNaranja rounded-4 shadow-2-strong d-inline-block mb-4 ch-bg pointer"
                            onclick="location.href='#contacto';"> <i
                                class="fa-solid fa-people-group fa-lg text-white"></i>
                        </div>
                        <h5 class="fw-bold mb-3">Enfocados en tus necesidades</h5>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
    <div class="cartonLine">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center ">
                    <h3 class="titleFabrica text-white">Fabricamos la caja a tu medida. Con impresión o sin ella. <br>
                        <button type="button" class="btn btn-dark btnMas" onclick="location.href='#contacto';">Más
                            información</button>
                    </h3>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>

    <div data-draggable="true" style="position: relative;" id="productos">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5 serviciosDiv" data-v-271253ee="">
            <section class="mb-10 text-center">
                <h2 class="fw-bold mb-7 text-center text-black">Los materiales que manejamos</h2>
                <div class="row gx-lg-5">
                    <div class="col-lg-4 col-md-12 mb-6 mb-lg-0">
                        <div class="card shadow-2-strong">
                            <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                                data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                    src="/assets/images/catonKraft.jpg" class="img-fluid" alt=""
                                    aria-controls="#picker-editor"> </div>
                            <div class="card-body">
                                <h5 class="card-title">Cartón Kraft</h5>
                                <hr style="color: #ec5404; height:3px;">
                                {{!-- <p class="card-text">Transmitir correctamente los valores de tu organización es
                                    importante para el desempeño que tengas en el mercado. <span
                                        style="color: black; font-weight: bolder;">Haz que tu equipo distinga a tu
                                        marca.</span></p> --}}
                                <a href="#contacto" class="btn ch-bg  btn-dark btn-rounded"
                                    aria-controls="#picker-editor">Cotizar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-6 mb-lg-0">
                        <div class="card shadow-2-strong">
                            <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                                data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                    src="/assets/images/cartonBlanco.jpg" class="img-fluid" alt=""
                                    aria-controls="#picker-editor"> </div>
                            <div class="card-body">
                                <h5 class="card-title">Cartón Blanco</h5>
                                <hr style="color: #ec5404; height:3px;">
                                {{!-- <p class="card-text">El estilo es una herramienta poderosa para manifestar tus
                                    objetivos
                                    en la vida. <span style="color: black; font-weight:bolder">Vístete como te quieres
                                        sentir y permite al mundo conocer tu potencial</span>.
                                </p> --}}
                                <a href="#contacto" class="btn ch-bg btn-dark btn-rounded"
                                    aria-controls="#picker-editor">Cotizar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-6 mb-lg-0">
                        <div class="card shadow-2-strong">
                            <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                                data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                    src="/assets/images/cartonCorrugado.jpg" class="img-fluid" alt=""
                                    aria-controls="#picker-editor"> </div>
                            <div class="card-body">
                                <h5 class="card-title">Blanco Corrugado simple y doble</h5>
                                <hr style="color: #ec5404; height:3px;">
                                {{!-- <p class="card-text">Serás asesorado desde cualquier parte del mundo<br>
                                    No tendrás ningún impedimento, <span
                                        style="color: black; font-weight:bolder">seremos tu equipo de asesores perfecto
                                        en cualquier país en el que te encuentres.</span></p> --}}
                                <a href="#contacto" class="btn ch-bg btn-dark btn-rounded"
                                    aria-controls="#picker-editor">Cotizar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
    <div class="cartonLineDos">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center ">
                    <h3 class="titleFabrica text-white">35 años de experiencia
                        conjunta en el rubro del
                        cartón. <br>
                        <button type="button" class="btn btn-dark btnMas" onclick="location.href='#contacto';">Más
                            información</button>
                    </h3>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <div data-draggable="true" style="position: relative;" id="trabajo">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10">
                <style>
                    .rounded-t-5 {
                        border-top-left-radius: 0.5rem;
                        border-top-right-radius: 0.5rem;
                    }

                    @media (min-width: 992px) {
                        .rounded-tr-lg-0 {
                            border-top-right-radius: 0;
                        }

                        .rounded-bl-lg-5 {
                            border-bottom-left-radius: 0.5rem;
                        }
                    }
                </style>
                <div class="card mb-3">
                    <div class="row g-0 d-flex align-items-center">
                        <div class="col-lg-4 d-none d-lg-flex"> <img src="/assets/images/cartonCollage.jpg"
                                alt="Trendy Pants and Shoes" class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5"
                                aria-controls="#picker-editor"> </div>
                        <div class="col-lg-8">
                            <div class="card-body py-5 px-md-5">
                                <h2 class="fw-bold mb-4">Nuestra infraestructura nos
                                    respalda</h2>
                                <h5 class=" mb-4">La tecnología que poseemos nos permite entregar productos
                                    adaptados a las necesidades del cliente, con mejor calidad y mejor precio.
                                    <br>
                                    Maquinaria:
                                </h5>
                                <hr>
                                <div class="row mb-3">
                                    <div class="col-lg-4 mb-2">
                                        <h5> <i
                                                class="fas fa-check-circle letraNaranja me-2"></i><span>Corrugadora</span>
                                        </h5>
                                    </div>
                                    <div class="col-lg-4 mb-2">
                                        <h5> <i class="fas fa-check-circle letraNaranja me-2"></i><span>Pegadora</span>
                                        </h5>
                                    </div>
                                    <div class="col-lg-4 mb-2">
                                        <h5> <i class="fas fa-check-circle letraNaranja me-2"></i><span>Grapadora</span>
                                        </h5>
                                    </div>
                                    <div class="col-lg-4 mb-2">
                                        <h5> <i class="fas fa-check-circle letraNaranja me-2"></i><span>Impresora con
                                                Suaje</span>
                                        </h5>
                                    </div>
                                </div> <button type="button" class="btn btn-dark btnMas"
                                    onclick="location.href='#contacto';">Más
                                    información</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
    
    <div id="contacto">
        <div data-draggable="true" style="position: relative;">
            <!---->
            <!---->
            <section draggable="false" class="container pt-5" data-v-271253ee="">
                <section class="mb-10 text-center">
                    <style>
                        hr.divider-vertical {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 1px;
                            background-image: linear-gradient(180deg, transparent, hsl(0, 0%, 40%), transparent);
                            background-color: transparent;
                            height: 100%;
                        }
                    </style> <!-- Background image -->
                    <div class="p-5 bg-image"
                        style="background-image: url(/assets/images/cajasContacto.jpg); height: 373px; background-size: cover; background-position: 50% 6%;"
                        aria-controls="#picker-editor"></div> <!-- Background image -->
                    <div class="card mx-4 mx-md-5 shadow-5-strong"
                        style=" margin-top: -100px; background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px); ">

                        <div class="card-body py-5 px-md-5">
                            <div class="row text-center">
                                <h3>CONTACTA A NUESTRO EQUIPO</h3> <br>
                                <h5><i class="fa-solid fa-square-phone"></i> 55 13 84 59 03</h5>
                                 <br> <br>
                            </div>
                            {{!-- <div class="row mb-5 redeSocialesDiv2">
                                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative">
                                    <!-- Facebook -->
                                    <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;"
                                        href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
                                    <hr class="divider-vertical d-none d-lg-block">
                                </div>
                                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative">
                                    <!-- Twitter -->
                                    <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;"
                                        href="#!" role="button"><i class="fab fa-twitter"></i></a>
                                    <hr class="divider-vertical d-none d-lg-block">
                                </div>
                                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 position-relative">
                                    <!-- Instagram -->
                                    <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;"
                                        href="#!" role="button"><i class="fab fa-instagram"></i></a>
                                    <hr class="divider-vertical d-none d-lg-block">
                                </div>
                                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 position-relative">
                                    <!-- Linkedin -->
                                    <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;"
                                        href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div> --}}
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-6">
                                    <form action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                                        <!-- Name input -->
                                        <div class="form-outline mb-4"> <input type="text" id="form4Example1"
                                                class="form-control formInput" name="name" required> <label
                                                class="form-label" for="form4Example1"
                                                style="margin-left: 0px;">Nombre</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 42.4px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div> <!-- Email input -->
                                        <div class="form-outline mb-4"> <input type="email" id="form4Example2"
                                                class="form-control formInput" name="email" required>
                                            <label class="form-label" for="form4Example2"
                                                style="margin-left: 0px;">Correo electrónico</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 88.8px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div> <!-- Message input -->
                                        <div class="form-outline mb-4"> <textarea class="form-control formInput"
                                                id="form4Example3" rows="4" name="message" required></textarea> <label
                                                class="form-label" for="form4Example3"
                                                style="margin-left: 0px;">Producto de interés</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 60px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div>
                                        <!-- Checkbox -->
                                        <div class="form-check d-flex justify-content-center mb-4">
                                            <input class="form-check-input me-2 formInput" type="checkbox" value=""
                                                id="form2Example33" required />
                                            <label class="form-check-label" for="form2Example33">
                                                Acepto política de privacidad
                                            </label>
                                        </div>
                                        <!-- Submit button -->
                                        <button type="submit" class="btn  btn-dark btn-block"
                                            aria-controls="#picker-editor">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <!---->
        </div>
    </div>
</div>