
.fonts3{
    font-family: 'Roboto', sans-serif !important; 

}
.pointer {
    cursor: pointer;
}
.propValue{
    width: 70%;
}
.logoImageDavid{
    max-width: 18% !important;
}
.franja{
    background-color: #ec5404;
    padding-top: 1% ;
    margin-bottom: 5%;
}
.colorNaranja{
    background-color: #ec5404 !important;
}
.letraNaranja{
    color: #ec5404 !important;

}
.logoAlenrem{
    padding-top: 3%;
}
.valueProposition{
    margin-top: -3%;
}
.btnMas{
    margin-top: 3%;
}
.titleFabrica{
    margin-top: 25%;
}
.spaceDivSastre{
    height: 20rem;
    background-image: url("/assets/images/sastre.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 59%
}
.cartonLine{
    height: 20rem;
    background-image: url("/assets/images/cajaCarton.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 59%;
    margin-top: -3%;
}

.overlaySastre{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.11);
    padding-top: 7%;
}
.ch:hover{
    color: #D42930 !important;
}
.ch-bg:hover{
    background-color: #D42930 !important;
}
@media(min-width:992px){
    .res-Black{
        color: white !important;
    }
    .cascading-right {
        margin-right: -50px;
    }

    .rotate-lg-6 {
        transform: rotate(6deg);
    }
    .davidHacherStory{
        margin-bottom: 7%;
    }
    .redeSocialesDiv{
        display: none !important;
    }
    
}
@media(max-width:991px){
    .elementExtra{
        display: none;
    }
    .procesoTrabajoDiv{
        margin-top: -31% !important;
    }
    #contacto{
        margin-top: 16% !important;
    }
    .redeSocialesDiv2{
        display: none !important;
    }
    .davidHacherStory{
        margin-bottom: -35%;
    }
    .res-Black{
        color: black !important;
    }
    .logoImageDavid{
        max-width: 48% !important;
    }
  
    .valueProposition{
        margin-bottom: -30%;
    }
    .overlaySastre{
        padding-top: 15%;
    }
    .spaceDivSastre{
        margin-top: -15%;
        height: 16rem;
    }
}